{% if rendering == "link" %}
  <fieldset class="product-form__input">
    <legend class="form__label">{{ title }}</legend>
    {%- for product in collection.products -%}
      <a class="radio-input" href="{{ product.url }}">
        {{ product.featured_image | image_url: width: 100 | image_tag }}
      </a>
    {%- endfor -%}
  </fieldset>
{% else %}
  <fieldset class="product-form__input">
    <legend class="form__label">{{ title }}</legend>
    {%- for product in collection.products -%}
      {{ product.featured_image | image_url: width: 150 | image_tag: class: 'radio-input srapi', data-producturl: product.url }}
    {%- endfor -%}
  </fieldset>

  <script>
    var srapiPromises = {};

    function addListeners() {
        document.querySelectorAll(".srapi").forEach((item) => {
            item.addEventListener("mouseover", fetchData);
            item.addEventListener("click", (event) => {
            fetchData(event).then((html) =>
                    renderProduct(html, event.target.dataset.producturl)
                );
            });
        });
    }
    addListeners();

    function fetchData(e) {
        const productUrl = e.target.dataset.producturl;
        let productPromise = srapiPromises[productUrl];
        if (!productPromise) {
            const query_url = e.target.dataset.producturl + "?section_id=" + "{{ section.id }}";
            productPromise = fetch(query_url).then((response) => response.text()).then((responseText) => {
                return new DOMParser().parseFromString(responseText, "text/html").querySelector(".product").innerHTML;
            });
            srapiPromises[productUrl] = productPromise;
        }
        return productPromise;
    }

    function renderProduct(html, url) {
        history.pushState(null, "", url);
        document.querySelector(".product").innerHTML = html;
        addListeners();
    }
  </script>
{% endif %}