{% schema %}
{
  "name": "Color Selector",
  "settings": [],
  "presets": [
    {
      "name": "Color Selector",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% assign option_index = 0 %}

{% for option in product.options_with_values %}
  {% if option.name == 'Color' %}
    {% assign option_index = forloop.index0 %}
  {% endif %}
{% endfor %}

{% if option_index != 0 %}
  <div class="product-option">
    <h3>{{ product.options[option_index].name }}</h3>
    {% for value in product.options[option_index].values %}
      {% assign filename = value | handleize | append: '.png' %}
      <div class="color-option">
        <input type="radio" id="{{ value | handleize }}" name="{{ product.options[option_index].name | handleize }}" value="{{ value }}" {% if product.selected_or_first_available_variant.options[option_index] == value %}checked{% endif %}>
        <label for="{{ value | handleize }}">
          <img src="{{ filename | file_url }}" alt="{{ value }}" />
          <span>{{ value }}</span>
        </label>
      </div>
    {% endfor %}
  </div>
{% endif %}